<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>List of Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com\exercise4fun\model\Owner"*/-->
<h1 th:text="'List of Pet Owners'">List of Pet Owners</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">ID...</td>
        <td th:text="${owner.firstName}">fName...</td>
        <td th:text="${owner.lastName}">lName...</td>
    </tr>
    </tbody>
</table>
</body>
</html>