<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com\exercise4fun\model\Vet"*/-->
<h1 th:text="'List of Vets'">List of Vets...</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">ID...</td>
        <td th:text="${vet.firstName}">fName...</td>
        <td th:text="${vet.lastName}">lName...</td>
    </tr>
    </tbody>
</table>
</body>
</html>